# Dictionaries

In [2]:
list1=[10,20,30]
list1[0]

10

In [6]:
dict1={}
dict1={'key1':'value1','key2':'value2'}
dict2={1:10,2:20,3:30}
print(dict2[1])
dict1['key1']

10

'value1'

# Dictionary methods

- get()

In [8]:
dict1={'k1':100,'k2':200,'k3':300}
dict2=dict1.get('k2')
dict2

200

- keys,values,items

In [11]:
dict1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [13]:
dict1.values()

dict_values([100, 200, 300])

In [14]:
dict1.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

- update()
- setdefault()
- copy()

In [16]:
student={'name':'lavanya','pin':459,'branch':'ece','age':20}

In [18]:
student.update({'age':19})
student.update({'cell':7893771849})

In [19]:
student

{'name': 'lavanya', 'pin': 459, 'branch': 'ece', 'age': 19, 'cell': 7893771849}

In [22]:
student.setdefault('age',20)

19

In [23]:
student.update({'age':20})

In [24]:
student

{'name': 'lavanya', 'pin': 459, 'branch': 'ece', 'age': 20, 'cell': 7893771849}

- popitems()[removes last element]
- pop() [removes elemets for specific keys]
- clear()

In [27]:
d={1:'a',2:'b',3:'c'}
d.popitem()
d

{1: 'a', 2: 'b'}

In [28]:
d.pop(1)

'a'

In [29]:
d

{2: 'b'}

In [30]:
d.clear()
d

{}

In [33]:
d1={'name1':'lavanya','name2':'sunitha','name3':'saranya'}
d2={'pin':459,'pin2':143,'pin3':341}

In [34]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [35]:
d1.update(d2)

In [36]:
d1

{'name1': 'lavanya',
 'name2': 'sunitha',
 'name3': 'saranya',
 'pin': 459,
 'pin2': 143,
 'pin3': 341}

In [39]:
d1={'name1':'lavanya','name2':'sunitha','name3':'saranya'}
d2={'pin':459,'pin2':143,'pin3':341}
d3={1:2,3:4,5:6}
d4={0:9,8:7,6:5}
d5={}
for i in range(1,5):
    d5.update(d1)
    d1=d2
    d2=d3
    d3=d4

In [40]:
d5

{'name1': 'lavanya',
 'name2': 'sunitha',
 'name3': 'saranya',
 'pin': 459,
 'pin2': 143,
 'pin3': 341,
 1: 2,
 3: 4,
 5: 6,
 0: 9,
 8: 7,
 6: 5}

In [41]:
d1={'name1':'lavanya','name2':'sunitha','name3':'saranya'}
d2={'pin':459,'pin2':143,'pin3':341}
d3={1:2,3:4,5:6}
d4={0:9,8:7,6:5}
d5={}
for key in d1,d2,d3,d4:
    d5.update(key)
print(d5)

{'name1': 'lavanya', 'name2': 'sunitha', 'name3': 'saranya', 'pin': 459, 'pin2': 143, 'pin3': 341, 1: 2, 3: 4, 5: 6, 0: 9, 8: 7, 6: 5}

# Python program to build a contacts application

In [3]:
contacts={}
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact added")
    else:
        print("contact already exists")
addcontacts('lavanya',7893771849)
addcontacts('dad',6303486839)
print(contacts)

contact added
contact added
{'lavanya': 7893771849, 'dad': 6303486839}

In [9]:
contacts.update({'lavanya':'sunitha'})
contacts

{'lavanya': 'sunitha',
 'dad': 6303486839,
 '7893771849': 'sunitha',
 'sunitha': 7893771849}

In [46]:
name='lavanya'
if name in contacts:
    print('contact already exists')

contact already exists

In [47]:
students={1:['lavanya','ece'],2:['janu','cse'],3:['sussu','mech'],4:['tulasi','civil']}

In [51]:
print(students.items())
students[2]

dict_items([(1, ['lavanya', 'ece']), (2, ['janu', 'cse']), (3, ['sussu', 'mech']), (4, ['tulasi', 'civil'])])

['janu', 'cse']

In [60]:
for key in students:
    print(key,":",students[key])

TypeError: 'dict' object cannot be interpreted as an integer

In [62]:
list=[10,2,3,4]
for i in list:
    print(i)

10
2
3
4

In [63]:
d={}
for i in range(1,11):
    d[i]=i+1
print(d)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11}

In [86]:
d1={"l1":1,"l2":2,"l3":3}
k=0
n=len(d1.values())
for i in d1:
    k=k+d1[i]
print(k)
print(k//n)

6
2

In [85]:
d1={"l1":1,"l2":2,"l3":3}
result=sum(d1.values())
print(result,result//len(d1.values()))

6 2