In [2]:
list1=[10,20,30]
list2=[100,200,300]
for i in range(0,3):
    print(list1[i],":",list2[i])

10 : 100
20 : 200
30 : 300

In [16]:
list1=[10,20,30]
list2=[100,200,300]
k={}
for i in range(0,len(list1)):
      k[list1[i]]=list2[i]  
print(k)

{10: 100, 20: 200, 30: 300}

In [7]:
dir(k)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# Tuples
- collection of elements which is ordered and unchangeable

In [18]:
t=(10,20,30)
print(t)

(10, 20, 30)

In [19]:
type(t)

tuple

In [20]:
for i in t:
    print(i)

10
20
30

In [22]:
t[0:30:2]

(10, 30)

In [23]:
first_tuple=("lavanya",20,"avula",1)
print(first_tuple)

('lavanya', 20, 'avula', 1)

# 1. index

In [24]:
first_tuple[0]

'lavanya'

In [25]:
print(first_tuple[0])

lavanya

In [26]:
len(t)

3

# 2. count

In [27]:
t.count(10)

1

In [28]:
cities=("machilipatnam","hyderabad","bangloor",50)

In [29]:
b=cities[:-1]#eleminating the last element
b

('machilipatnam', 'hyderabad', 'bangloor')

In [31]:
c=list(b)
print("c is :{0}".format(c))
c=tuple(c)
print("c is now a tuple:{0}".format(c))

c is :['machilipatnam', 'hyderabad', 'bangloor']
c is now a tuple:('machilipatnam', 'hyderabad', 'bangloor')

In [33]:
a=("lavanya","saranya","sunitha")
b=list(a)
b[1]="buddi"
a=tuple(b)
print(a)

('lavanya', 'buddi', 'sunitha')

In [35]:
if "buddi" in a:
    print("yes")
else:
    print("no")

yes

In [37]:
y=(1,2,3,4)
y[2]=6
print(y)#hence tuple object is not immutable

TypeError: 'tuple' object does not support item assignment

In [7]:
#program to convert tuple into string
k=('a','b')
d="".join(k)
print(d)
type(d)

ab

str

In [2]:
b

'(1, 2, 3, 4)'

# sets

In [9]:
s={10,20,30}
s

{10, 20, 30}

In [10]:
s={1,2,3,1,2,3}
s

{1, 2, 3}

In [11]:
s[0]

TypeError: 'set' object is not subscriptable

In [12]:
names={'lav','jan','lucky'}
for i in names:
    print(i)

lav
lucky
jan

In [13]:
print("lav" in names)

True

# add

In [28]:
names={'lav','jan','lucky'}
names.add("chinna")

In [15]:
names

{'chinna', 'jan', 'lav', 'lucky'}

# update

In [29]:
names.update(["suni",'swami'])
names

{'chinna', 'jan', 'lav', 'lucky', 'suni', 'swami'}

# len

In [17]:
print(len(names))

6

# remove

In [30]:
names.remove("jan")

In [26]:
names

{'chinna', 'suni', 'swami'}

# discard

In [23]:
names.discard("raj")
names

{'chinna', 'suni', 'swami'}

# pop

In [22]:
names.pop()

'lucky'

# clear

In [31]:
names.clear()

In [32]:
names

set()

In [36]:
names={'lav','jan','lucky'}
del names#complete set is deleted where as in clear it removes item in the sets

In [37]:
names

NameError: name 'names' is not defined

# union

- joining two sets

In [40]:
a={1,2,3,4}
b={5,6,7,4,8}
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
a.intersection(b)

{4}

In [43]:
b.difference(a)

{5, 6, 7, 8}

In [49]:
a.difference_update(b)
a

{1, 2, 3}

In [50]:
b.issubset(a)

False

In [51]:
help(a.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [53]:
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
a

{1, 2, 3}

In [55]:
b

{4, 5, 6, 7, 8}

In [56]:
a={1,2,3,4}
b={2,3,4}
a.symmetric_difference(b)

{1}

# Packages and Modules

- package-collection of modules
- module-A single pythom file containing functions
- packages --> subpackage ---> Modules --> functions

# module

In [4]:
def lav(name):
    print("hello"+name)

In [5]:
import firstmodule
firstmodule("jss")

ModuleNotFoundError: No module named 'firstmodule'

# Packages

In [1]:
from math import floor as f1
f1(2.34567)

2

In [2]:
from math import sqrt as f1
f1(256)

16.0

In [6]:
import random
def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
rand(10,1,100)

56 19 92 30 25 56 9 52 32 95